@import url(/normalize.css) layer(root);

@layer root, base, article;

@layer base {
  body {
    font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
    font-size: 16px;
    margin: 24px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
    font-weight: normal;
  }

  main,
  header {
    max-width: 640px;
  }

  header {
    border-bottom: 1px solid black;
  }

  ol {
    list-style-position: inside;
    list-style-type: none;
    margin: 16px 0 0 0;
    padding: 0;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
  }

  nav ul li {
    margin-right: 16px;
  }
}

@scope (article) {
  h1 {
    font-size: 22px;
  }

  code {
    font-size: 12px;
  }
}
